extends layout.pug

block append head
    style.
      body {padding: 0; margin: 0;}
    script(src="vendor/p5.min.js")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/canvas.css")
    script(type="text/javascript" src="vendor/socketio.js")
    script(src="vendor/jquery-3.3.1.min.js")

block append content
    #sketch-holder
    
    script(type="module" charset="utf-8").
        window.socket = io("/game/room");
        import createTetris from "../js/sketch.js"
        createTetris("sketch-holder")
