doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      link(rel='stylesheet', href='css/main.css')
      link(rel="shortcut icon", href="style/logo2.png")
      script(src="vendor/jquery-3.3.1.min.js")
      title Tetrix
  body
    .nav
      block nav
        ul
          li.nav-header
            a(href='/') Tetrix

          li
            a(href='/menu') Games

          li
            a(href='/shop') Shop
          
          if (loged)             
            li.float-right
              a(href="/logout") Logout
            li.float-right
              a(href="/account") Account
          else
            li.float-right
              a(href='/register') Register
            li.float-right
              a(href='/login') Login

    block content
