extends layout.pug

block append content
  .container-contact100
    .wrap-contact100
      form.contact100-form.validate-form(action="/game/create" method="POST")
        span.contact100-form-title
          | Create a lobby!
        if error != null
          span.error-message
            | #{error}
        .wrap-input100.validate-input
          input.input100(type="text" name="name" placeholder="Lobby name")
          span.focus-input100-1
          span.focus-input100-2
        .wrap-input100.validate-input
          select(name="players")
            option 2
            option 3
            option 4
            option 5
            option 6
        .container-contact100-form-btn
          input.contact100-form-btn(type="submit" value="Create")