html
   form(action="/game/create" method="POST")
    input(name="name")
    select(name="players")
        option 2
        option 3
        option 4
        option 5
        option 6
    input(type="submit" value="Create game")
