extends layout
block append head
	link(rel='stylesheet', href='css/menu.css')

block append content
	h1 Select a gamemode:
	.vertical-menu
		a(href="/game") Practice
		a(href="/game/create") Create a lobby
		a(href="#") NOT YET DONE 
		a(href="#") NOT YET DONE
