<html lang="en">
<head>
	<title>Tetrix</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
        <div>
            <a class="contact100-form-btn" href="/register">Register</a>
            <a class="contact100-form-btn" href="/login">Log in </a>
        </div>
</body>